<div class="nested-fields">
  <%= f.label :number, 'Number' %>
  <%= f.number_field :number %>

  <%= f.label :content, 'content' %>
  <%= f.text_field :content %>

  <%= link_to_remove_association "remove child", f %>
</div>