<ul class="list-unstyled">
  <h2 class="mb-5"><%= link_to "Fodmap", root_path %></h2>
  <li><%= link_to "食品一覧", foods_index_path %></li>
  <li><%= link_to "レシピ一覧", recipes_path %></li>
  <li><%= link_to "レシピ投稿", new_recipe_path %></li>
  <li><%= link_to "ログイン", new_user_session_path %></li>
  <li><%= link_to "新規登録", new_user_registration_path %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <%= form_with url: search_recipes_path, method: :get, local: true do |f| %>
    <%= f.label :keyword, "レシピを探す"%>
    <%= f.text_field :keyword, value: "aaa", placeholder: "料理名・食材", class: "form-control" %>
  <% end %>
</ul>